body{
    margin : 0;
    padding : 0;
    background: linear-gradient(to left, #00AAFF, #00FF6C);
    background-color: #00FF6C;
    font-family: sans-serif;
}

.LoginBox{
    width: 320px;
    height: 420px;
    background: rgba(0,0,0,0.80);
    background-position: center;
    color: rgb(221, 241, 241);
    top: 30%;
    left: 40%;
    position: absolute;
    translate: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.4);

}
#login-error-msg {
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
  }
  
#error-msg-second-line {
    display: block;
  }
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -10%;
    background-position: center;
    left: 100px;
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.LoginBox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.LoginBox input{
    width: 100%;
    margin-bottom: 20px;
}

.LoginBox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.LoginBox input[type="submit"]{
    cursor: pointer;
    border: none;
    outline: none;
    height: 40px;
    background: #b5dee6;
    font: bold;
    color: rgb(61, 8, 68);
    font-size: 18px;
    border-radius: 20px;
}

.LoginBox input[type="submit"]:hover{
    cursor: pointer;
    background: #96c3cc;
    color: #000;
}

.LoginBox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

.LoginBox a:hover{
    color: darkred;
}
